@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="h1"> Móveis P&M</h1>
    <p>Tornando sua casa mais bonita</p>
</div>




<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Nome</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu nome">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputEmail1">Endereço de email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputEmail1">Senha</label>
            <input type="texxt" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sua senha">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">CPF</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Seu CPF">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">Telefone</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Seu telefone">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">Endereço</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Seu endereço">
            <br>
            <button type="button" class="btn btn-primary btn-lg btn-block">Botão block-level</button>
        </div>
    
</form>
</div>


